
<div class="slideshow-container">
	<div data-sly-test="${properties.type == 'manual'}">manual
		<div data-sly-list.manualMultifield="${resource.getChildren}">
			<div data-sly-test="${manualMultifield.name == 'products'}">
				<div class="owl-carousel owl-theme">
					<sly data-sly-list.prod="${manualMultifield.listChildren}">
						<div> 
							<h4> ${prod.product}</h4>
							<img src="${prod.pathbr}" alt="${prod.product}"/>
						</div>
					</sly>
				</div>
			</div>
		</div>
	</div>

	<div data-sly-test="${properties.type == 'auto'}">
		<sly data-sly-use.auto="com.testsite.core.models.SliderModel">
			<div class="owl-carousel owl-theme">
				<sly data-sly-list.child="${auto.mobResource.listChildren}">
					<div> 
						<h4> ${child.displayname}</h4>
						<img src="${child.imageurl}">
					</div>
				</sly>
			</div>
		</sly>
	</div>
</div>

