

.owl-item > div {
    display: flex;
    flex-flow: column;
    align-items: center;
}
.owl-item p,
.owl-item img {
	max-width: 70%
}

.owl-nav {
	position: absolute;
    top: 35%;
    width: 100%;
}

.owl-prev,
.owl-next {
    font-size: 60px !important
}
.owl-prev {
  float: left;
}

.owl-next{
	float: right;
}

.text-slider{
    word-break: break-word;
	width:145px;
    height: 4.4em;
    line-height: 1.2;
  }

 .owl-dots{
   padding-top : 80px;
     }



